<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Display CSV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <header>
            <img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
        </header>
    </header>
    <h1>Displaying CSV: {{ file_name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            {% for col in df.columns %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in df.iterrows() %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
